body {
    background-color: #202020;
}

h2 {
    text-align:center;
}

.mycol {
    margin-bottom: 15px;
}

img {
    position: relative;
    /* width: 200px;
    height: auto;  */
}

#checkout {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1em;
}